@page
@model IndexModel
@{
    ViewData["Titl"] = "Home page1";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Mughlai dynasty indian cuisine.</h1>
    <p>Here is the <a href="https://gmail.com">Link to GMail for starters.</a>.</p>
</div>
