@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Mughlai Kabab Indian cuisine</h1>
    <p>Here is the <a href="https://gmail.com">Link to GMail for starters.</a>.</p>
</div>
