@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello Anuj, Open <a href="https://gmail.com">Link to GMail?</a>.</p>
</div>
